
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a href="/Fut/AttackingMidQuick">Attacking Mid Quick</a><br />
<a href="/Fut/AttackingMidSkilled">Attacking Mid Skilled</a><br />
<a href="/Fut/BackQuick">Back Quick</a><br />
<a href="/Fut/BackSkilled">Back Skilled</a><br />
<a href="/Fut/BackStrong">Back Strong</a><br />
<a href="/Fut/DefenderQuick">Defender Quick</a><br />
<a href="/Fut/DefenderSkilled">Defender Skilled</a><br />
<a href="/Fut/DefenderStrong">Defender Strong</a><br />
<a href="/Fut/DefendingMidDefender">Defending Mid Defender</a><br />
<a href="/Fut/DefendingMidQuick">Defending Mid Quick</a><br />
<a href="/Fut/DefendingMidSkilled">Defending Mid Skilled</a><br />
<a href="/Fut/MidDefender">Mid Defender</a><br />
<a href="/Fut/MidQuick">Mid Quick</a><br />
<a href="/Fut/MidSkilled">Mid Skilled</a><br />
<a href="/Fut/StrikerQuick">Striker Quick</a><br />
<a href="/Fut/StrikerSkilled">Striker Skilled</a><br />
<a href="/Fut/StrikerStrong">Striker Strong</a><br />
<a href="/Fut/WingerQuick">Winger Quick</a><br />
<a href="/Fut/WingerSkilled">Winger Skilled</a>
