
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a href="/Fut/FutStats?type=AttackingMidQuick">Attacking Mid Quick</a><br />
<a href="/Fut/FutStats?type=AttackingMidSkilled">Attacking Mid Skilled</a><br />
<a href="/Fut/FutStats?type=BackQuick">Back Quick</a><br />
<a href="/Fut/FutStats?type=BackSkilled">Back Skilled</a><br />
<a href="/Fut/FutStats?type=BackStrong">Back Strong</a><br />
<a href="/Fut/FutStats?type=DefenderQuick">Defender Quick</a><br />
<a href="/Fut/FutStats?type=DefenderSkilled">Defender Skilled</a><br />
<a href="/Fut/FutStats?type=DefenderStrong">Defender Strong</a><br />
<a href="/Fut/FutStats?type=DefendingMidDefender">Defending Mid Defender</a><br />
<a href="/Fut/FutStats?type=DefendingMidQuick">Defending Mid Quick</a><br />
<a href="/Fut/FutStats?type=DefendingMidSkilled">Defending Mid Skilled</a><br />
<a href="/Fut/FutStats?type=MidDefender">Mid Defender</a><br />
<a href="/Fut/FutStats?type=MidQuick">Mid Quick</a><br />
<a href="/Fut/FutStats?type=MidSkilled">Mid Skilled</a><br />
<a href="/Fut/FutStats?type=StrikerQuick">Striker Quick</a><br />
<a href="/Fut/FutStats?type=StrikerSkilled">Striker Skilled</a><br />
<a href="/Fut/FutStats?type=StrikerStrong">Striker Strong</a><br />
<a href="/Fut/FutStats?type=WingerQuick">Winger Quick</a><br />
<a href="/Fut/FutStats?type=WingerSkilled">Winger Skilled</a>
